<div class="page-header">
  <div class="pull-right">
    <%= link_to "New Suitcase", new_passenger_suitcase_path, class: "btn btn-info" %>
  </div>
  <h1>Suitcases</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @suitcases.each do |suitcase| %>
      <tr>
        <td><%= link_to suitcase.description, passenger_suitcase_path(@passenger, suitcase) %></td>
        <td>
          <div class="pull-right">
            <%= link_to "edit", edit_passenger_suitcase_path(@passenger, suitcase) %>
            |
            <%= link_to "delete", passenger_suitcase_path(@passenger, suitcase), method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
